DiploDatos 2018 / Aprendizaje no supervizado / Clustering Demo*

# Aplicación de técnicas de *clustering* a documentos de texto

**Objetivos:**

En este ejemplo mostraremos cómo utilizar técnicas de clustering para aprender la estructura subyacente de un conjunto de documentos de texto.

In [57]:
import numpy as np
import pandas as pd
import nltk
import re
import os
import codecs
from sklearn import feature_extraction
import mpld3

from __future__ import print_function

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.externals import joblib

### DATOS: Top 100 Greatest Movies of All Time (The Ultimate List), by ChrisWalczyk55

https://www.imdb.com/list/ls055592025/

El problema consiste en agrupar un conjunto de películas en base a sus críticas en inglés, 
usando para ello procesamiento del texto


Lo primero que haremos es leer los datos, disponibles en:
https://github.com/brandomr/document_cluster.git

In [58]:
# Lectura de los titulos

with open("data/document_cluster/title_list.txt") as file:
    titles = [line.strip() for line in file]
    
# Lectura de las criticas

synopses = []
with open("data/document_cluster/synopses_list_wiki.txt") as file:
    i = True
    l = ' '
    for line in file:            
        if 'BREAKS HERE' in line:
            synopses.append(l) # append the previously collected lines
            l = ' '       
        l = l + line.decode('utf-8').strip()
        
# Lectura de los generos

with open("data/document_cluster/genres_list.txt") as file:
    genres = [line.strip() for line in file]

### Análisis del texto


Para analizar el texto debemos estudiar la frecuencia de las palabras, es decir, separar el texto en unidades sintácticas o *tokens*.

In [59]:
def tokenize_only(text):
    # first tokenize by sentence, then by word to ensure that punctuation is caught as it's own token
    tokens = [word.lower() for sent in nltk.sent_tokenize(text) for word in nltk.word_tokenize(sent)]
    filtered_tokens = []
    # filter out any tokens not containing letters (e.g., numeric tokens, raw punctuation)
    for token in tokens:
        if re.search('[a-zA-Z]', token):
            filtered_tokens.append(token)
    return filtered_tokens

from nltk.stem.snowball import SnowballStemmer
stemmer = SnowballStemmer("english")

In [60]:
# e.g.:
from nltk.tokenize import word_tokenize
text = "Computer science is no more about computers than astronomy is about telescopes. Edsger Dijkstra"
tokens = tokenize_only(text)
print(tokens)

['computer', 'science', 'is', 'no', 'more', 'about', 'computers', 'than', 'astronomy', 'is', 'about', 'telescopes', 'edsger', 'dijkstra']

In [61]:
totalvocab_tokenized = []

for i in synopses:
    allwords_tokenized = tokenize_only(i)
    totalvocab_tokenized.extend(allwords_tokenized)

In [62]:
print('Hay en total ' + str(len(totalvocab_tokenized)) + ' tokens \n')
len(totalvocab_tokenized)
print (totalvocab_tokenized[0:50])

vocab_frame = pd.DataFrame({'words': totalvocab_tokenized}, index = totalvocab_tokenized)
print('there are ' + str(vocab_frame.shape[0]) + ' items in vocab_frame')

Hay en total 164243 tokens

[u'plot', u'edit', u'edit', u'edit', u'on', u'the', u'day', u'of', u'his', u'only', u'daughter', u"'s", u'wedding', u'vito', u'corleone', u'hears', u'requests', u'in', u'his', u'role', u'as', u'the', u'godfather', u'the', u'don', u'of', u'a', u'new', u'york', u'crime', u'family', u'vito', u"'s", u'youngest', u'son', u'michael', u'in', u'a', u'marine', u'corps', u'uniform', u'introduces', u'his', u'girlfriend', u'kay', u'adams', u'to', u'his', u'family', u'at']
there are 164243 items in vocab_frame

In [84]:
from sklearn.feature_extraction.text import TfidfVectorizer

#define vectorizer parameters
tfidf_vectorizer = TfidfVectorizer(max_df=0.8, max_features=200000,
                                 min_df=0.2, stop_words='english',
                                 use_idf=True, tokenizer=tokenize_only, ngram_range=(1,3))

tfidf_matrix = tfidf_vectorizer.fit_transform(synopses) #fit the vectorizer to synopses
print(tfidf_matrix.shape)

terms = tfidf_vectorizer.get_feature_names()

(100, 143)

### Buscar clusters con Kmeans

Primero tenemos que hacer el *embeding*:

In [64]:
from sklearn.cluster import KMeans

num_clusters = 5

km = KMeans(n_clusters=num_clusters)
km.fit(tfidf_matrix)

clusters = km.labels_.tolist()

In [65]:
print (clusters)

# Recuento del número de elementos en cada cluster
for i in range(num_clusters):
    print ('El cluster %i tiene %i elementos' % (i, clusters.count(i)))

[0, 3, 3, 2, 4, 4, 1, 0, 1, 4, 3, 0, 4, 4, 2, 1, 4, 0, 4, 1, 1, 2, 4, 4, 3, 4, 3, 1, 2, 3, 1, 3, 2, 3, 2, 2, 3, 3, 3, 2, 0, 2, 1, 4, 1, 1, 0, 3, 3, 3, 1, 2, 3, 3, 4, 3, 3, 3, 0, 0, 1, 3, 3, 4, 1, 0, 4, 2, 4, 1, 1, 2, 1, 1, 2, 1, 4, 0, 0, 2, 2, 3, 1, 2, 1, 4, 4, 3, 3, 2, 4, 4, 2, 4, 4, 4, 4, 4, 4, 0]
El cluster 0 tiene 12 elementos
El cluster 1 tiene 20 elementos
El cluster 2 tiene 18 elementos
El cluster 3 tiene 24 elementos
El cluster 4 tiene 26 elementos

In [66]:
films = { 'title': titles, 'synopsis': synopses, 'cluster': clusters, 'genre': genres }
frame = pd.DataFrame(films, index = [clusters] , columns = ['title', 'genre'])

In [67]:
frame[1:10]

,title,genre
3,The Shawshank Redemption,"[u' Crime', u' Drama']"
3,Schindler's List,"[u' Biography', u' Drama', u' History']"
2,Raging Bull,"[u' Biography', u' Drama', u' Sport']"
4,Casablanca,"[u' Drama', u' Romance', u' War']"
4,One Flew Over the Cuckoo's Nest,[u' Drama']
1,Gone with the Wind,"[u' Drama', u' Romance', u' War']"
0,Citizen Kane,"[u' Drama', u' Mystery']"
1,The Wizard of Oz,"[u' Adventure', u' Family', u' Fantasy', u' Mu..."
4,Titanic,"[u' Drama', u' Romance']"

In [68]:
frame.ix[1]

,title,genre
1,Gone with the Wind,"[u' Drama', u' Romance', u' War']"
1,The Wizard of Oz,"[u' Adventure', u' Family', u' Fantasy', u' Mu..."
1,On the Waterfront,"[u' Crime', u' Drama']"
1,Star Wars,"[u' Action', u' Adventure', u' Fantasy', u' Sc..."
1,E.T. the Extra-Terrestrial,"[u' Adventure', u' Family', u' Sci-Fi']"
1,Some Like It Hot,[u' Comedy']
1,Amadeus,"[u' Biography', u' Drama', u' Music']"
1,To Kill a Mockingbird,[u' Drama']
1,The Best Years of Our Lives,"[u' Drama', u' Romance', u' War']"
1,My Fair Lady,"[u' Drama', u' Family', u' Musical', u' Romance']"
1,Braveheart,"[u' Action', u' Biography', u' Drama', u' Hist..."
1,The Exorcist,[u' Horror']
1,City Lights,"[u' Comedy', u' Drama', u' Romance']"
1,Mr. Smith Goes to Washington,[u' Drama']
1,Rain Man,[u' Drama']
1,Out of Africa,"[u' Biography', u' Drama', u' Romance']"
1,Good Will Hunting,[u' Drama']
1,Tootsie,"[u' Comedy', u' Drama', u' Romance']"
1,Network,[u' Drama']
1,The Graduate,"[u' Comedy', u' Drama', u' Romance']"

In [88]:
dist = 1 - cosine_similarity(tfidf_matrix)

num_clusters = 5
km = KMeans(n_clusters=num_clusters)
km.fit(tfidf_matrix)
clusters = km.labels_.tolist()

In [91]:
order_centroids = km.cluster_centers_.argsort()[:, ::-1]

In [93]:
order_centroids

array([[ 86,  37,  76,  58,  36, 141, 110,  72, 135,  15,   2, 102, 127,
         38,  87,  63,  57, 111,  32, 122, 120,  39,  29,  42,  94, 125,
        109,  84, 129, 123,  69, 136,  46,  50, 114, 131, 126,  10,  17,
         66,  35,   0,  91, 116, 133, 137,   5,   1, 104,  98,  30,  75,
         28, 101,  60,  19,  24, 138,  53,  70, 119,  74,  92,  22, 103,
        115,  56,  40, 140,  47, 100,  59,  73,  16, 105,   8,  20, 106,
         78,  51, 132, 121,  77, 139,  81,  62,  45,  11,  85, 130,  83,
         71,   6,  12,  89, 142,  93,  49,  43,  61,  25,  21,  44, 108,
         55,  33,  52,  54,  23,  96,  80,  88,  79,  68,  14,  48,   9,
         90, 134,  27, 112, 107,  13,  95, 128,  34, 117,  31,  64,  67,
        118,   3,  99,   7,  18,  41,  26,  82, 124,  65,   4, 113,  97],
       [ 34, 134,  14,  35, 141, 118,  53,  86,  84,  58,  69, 125, 103,
        111,  74, 135,  95,  94,  64,  61,  63, 139,  51, 117,  54,  52,
          5,  83,  76,  39,  67,  19, 127,  26,   0,  46,   7, 133,  27,
        126, 106,  50,  22,  90, 119,  36,  99,  77, 136,  70, 129,  25,
         65,  66,  29, 120,  23, 109,  43, 138,   2,  73,  42,  71,  79,
        112,  92,  13,  80, 142, 115,  68,  72,  18, 124,  37,  49, 140,
         21,  88,  81,  32,  87, 104, 113,  47, 105,   8,  59,  97,   1,
         15,   4,  45,  96, 128,  30,  44,  60,  11,  56,  62, 100,  12,
          9,  93,  33,  31, 107,  98,  57,  78,  91, 102,  17,   6,  40,
         41,  82,  89, 130, 114, 121,  28, 101,  20, 137,  48,  16,  24,
        132,  55, 131, 108,   3,  85, 122, 123, 116,  38, 110,  75,  10],
       [134,  80,  61,   2, 128,  60,  22, 127,   4, 113,  19,  92,  76,
          5, 129,  48,  65,  36,  99,  21,   3, 136,   6,  23,  81,  63,
         71,  31,  38, 114, 101, 125,  46,  86, 103,  87,  41,  53, 115,
          8, 126, 118,  39,  28,  16,  59,   1,   9,  52,  82,  62,  58,
         69, 109,  24,  35,  11, 120,  91, 124,  42,  10,  43,  78,  66,
        105,  68,  51,  33,  44, 135,  84,  32,  75,  95,  67,  50,   0,
         98,  74, 104,  79, 139,   7,  72,  12, 142,  15,  49, 112,  96,
        121, 132,  40, 123, 130, 111,  47,  89, 106,  73,  45,  85,  94,
         55,  97,  37,  26, 138, 131,  17,  27, 107, 110,  88,  57,  93,
         90, 119,  64, 140, 108,  20, 137,  25, 116,  54,  14,  56,  13,
         34, 117,  77,  29,  83, 100, 122, 133,  18,  30, 102,  70, 141],
       [ 13,  99,  53,  35, 137,   9,  22,  64, 112,  54,  81,   4, 126,
         76, 119,  67,  52,  39,  15,  58, 117,  27,  97,  73, 107, 103,
         86,  79,  63,  74, 100, 104, 129, 136,  19,  11, 101,  37,  87,
         43, 133, 114,  61,  33,  78, 110,  34,  82, 135, 141,  90,  65,
         89,  85, 105,  88,  96,  93,   5,  29,  48, 108, 109,  40,  91,
         95,  83,  71, 125,  21,  12, 116,  66,   6,  69, 122,  60, 131,
         25, 132,  32,  72,  18,  42,  10,  62,  55,   3,  50,  31,  84,
         56, 113,  47,  46, 130,   7,  28,  23,   0,  70,  59, 106, 140,
         20,  57,  17, 115,   8, 121,  24,  38,  30, 142, 127,  80,  75,
         98,  41,  68, 139,  94, 111,  51,  77,  45, 120,  44, 118, 102,
        134,  36,  16,  92, 123,  49,  26, 124,   2, 128, 138,   1,  14],
       [ 83,  35,  53, 126,  77,  54, 140, 137,  63,  87, 108,  76,   9,
        104,  43,  14,  18, 142,  69,  28,  10,  72, 139,  73,  27,  66,
         34, 127,  44,  37,  39,  57,  42, 125, 122, 118,  19,  64,  85,
         86, 102,   8,  79, 134, 100,  29,  94, 136,  89,  31, 106,  65,
          1,  23,  95,  68, 119,  20, 133, 117, 107, 138,  40,  33,  45,
         59,  32,  12, 112,  17,   5, 128,  55,  15,  70,  52,  47,  81,
        124,  30, 109, 135, 105,  50, 103,  75,   0, 141,  97,  46, 121,
         22,  49,  93,  26,  88,   2, 129, 101,   4,  56,  38, 116,  78,
         67,  24,  41,  74,  61, 131, 123,  80, 130,  98,  84, 132,  21,
         99,  82, 120, 110,   6,  62,  90,  51, 113,   7,  92,  91,  25,
         13,  36, 115, 111,  11,  16,  96,   3,  71,  58,  48,  60, 114]])

In [17]:
joblib.dump(km,  'doc_cluster.pkl')
km = joblib.load('doc_cluster.pkl')
clusters = km.labels_.tolist()

In [22]:
print("Top terms per cluster:")
print()
#sort cluster centers by proximity to centroid
order_centroids = km.cluster_centers_.argsort()[:, ::-1]

Top terms per cluster:

In [52]:
order_centroids

array([[ 53,  35,  22, 128,  76,  38, 127,  54,  77,  19,  43, 136,  61,
        126, 103,  23,  65,   9,  15,  10,  95,  74,  31, 138, 133,  39,
         24, 137,   5,  67,  97,  29, 108, 123,  57,  59, 129, 125,  14,
          4,  66, 104,  18,  79,  11,  20,  63,  41, 122,  28,   0,  60,
         69,  98,  86,   8,  52, 142,  82,  70,  87, 132,  37,  68,  25,
        100,  47,  46, 135, 140,  32,  73, 112,  27,  84, 118, 117, 102,
          7,  78,  21, 111, 107, 105,  89, 101, 110,  90,  51,  17,  50,
         93, 139,  99,  72,  64,  88,  36, 124, 109, 120,  83, 121,  33,
         96,  42,  81,  45,  34,  94, 116,   6,  75,  30, 131, 106,  71,
        115,   1,  16,  12, 119, 134,  56,  92,  49, 130,  62, 113,  80,
          3,  40,  58,  13, 114,  85,  91,  44,  48,  55, 141,   2,  26],
       [  2, 134,  80, 113,  61,   1,   6,  92,  22,  53,  21,  87, 120,
          8,  63,  19, 125,  59, 128,  71,  41,   3,  76, 127,   9,  32,
         60, 124,  73,  86,  95,  65,   4,   5,  39,  46, 103,  23, 115,
        139, 114,  58, 118,  16, 104, 135,  15,  33,  31,  49, 101,  83,
         82,  75,  94,  36, 121,   7,  10,  48,  28,  91,  51,  68,  98,
         81, 119, 130, 142,  55,  62,  26,  35,  52, 126,  85,  27,  66,
        111,  44,  37,  78, 129, 112,  47,  38,  97,  40, 132,  24,  74,
         42, 138,  43, 140, 105,  34,  17,  69, 137,  89,  18,  50,  64,
        131, 136,  14, 100, 106,  96,  90,   0,  45,  29,  99, 109,  30,
        108,  56,  12,  67, 107,  88, 133,  93, 117, 110,  25,  79,  20,
         11,  77, 102,  72,  54,  13, 141, 122,  57,  70, 123, 116,  84],
       [ 34, 118,  35,  86,  14,  64,  36, 134,  84,  83,  69, 117, 141,
        109,  53, 127,  95, 135, 139,   5,  43,  18, 125,  76, 133, 103,
         63,  42,  52, 142,  70,  58,  81,  79,  77, 126,  92, 102,  57,
          9, 136,  44,  68,  72,  91, 108, 129,  60,  17,  61,  85,  50,
         33, 140, 128,  28,  80, 111,  67,  74,  23,  54,  73, 104,  39,
         90,  27, 124,  71,  65, 119,  25,  29,  47,  26, 112,  66, 101,
         12, 113,  87,   0,  94,  48,  88,  51,   7,  19,   4,  97,  13,
         32,  40, 115,   8, 105, 106, 107,  56,   2,  22,  49,  30,  96,
         89, 100,  31,  10,  99,  21, 114, 131,  62, 120,  46, 116,  37,
         15,  55,  45,  11, 138,  98,   6, 137, 130,  41,  75,  16,   1,
         78, 132,  59, 121,  93,  20,  82,  24, 122,   3, 110,  38, 123],
       [ 99,  13, 126,  63,  76,   4, 137,  48, 129, 136,  54,  39, 112,
         42,   9,  61,  46,  58,  11, 107,  62,  31,   5,  36,  72, 114,
         27,  67,  50, 110,  37,  65,  60, 109, 105, 101,  12,  89,  79,
         78, 127,  87,  52,  69, 100, 119,  45,  74,  40,  73,  28,   3,
        104,  66,  33, 106,  86,  64, 123,   0,  43,  19,  81,  55, 103,
         85,  82, 131,  22, 116,  35,  83,  93,  75,  88,  57, 115,  56,
        125,  71,  59,  53,  29,  94,  51, 117,  21, 133,  91,  90, 121,
        122,  44,  96, 141,  97,  23,  80,  92, 140, 120,  15,  84,  20,
          6,   8,  26,  68,  25, 135, 108, 134, 130,   2,  10,  16,  49,
         34,  17,  18, 102,  70,  32, 142,  98,  47, 132, 111,  14,  77,
        138,   1,  30,  24, 139,  41, 113, 128,   7,  95,  38, 118, 124],
       [ 37,  86, 141,  58,  72,  87, 126,  76,  81, 137, 122,  63,  83,
         19, 140,  35,  94,  38, 125, 135,  69,  66,  10, 110,  15, 136,
         39,  54, 129, 119,  32, 102,  53, 106, 104,  28,  57,  44,  84,
        116,  29,  13, 139,  77, 127,  42, 101, 111,  24,  30,  20,  40,
        142, 109,  85, 114, 108,   0,  93,  36,  27,  46,   8,  52,   2,
        105,  91,  79,  73, 138,  17, 130,  26, 103, 134,  47,  78,  43,
         23,  55,  56,  75,  50,  12,  59, 100, 131, 123,  89,   1,   5,
         64, 132,   9,  98,  16,  88,  80,   3,  45,  34,  74, 121, 115,
         14, 133, 107,  49,  70,  21,  22, 112,  62, 120,  65,  71,  82,
         68,  51,  96,  48, 117, 128,  31,  33,  18,   7,   4,  41,  67,
         61,  90,  92,  60, 118,  99,  25,  11, 124,   6,  95,  97, 113]])

In [39]:
print("Top terms per cluster:")
print()
#sort cluster centers by proximity to centroid
order_centroids = km.cluster_centers_.argsort()[:, ::-1]     
        
for i in range(num_clusters):
    print("*** Cluster %d:" % i, end='\n\n')

    print("CENTROID /// ", end='')
    print(titles[order_centroids[i][0]])
    print(titles[order_centroids[i][1]])
    
    print("WORDS /// ", end='')
    
    for ind in order_centroids[i, :6]: #replace 6 with n words per cluster
        print(' %s' % vocab_frame.ix[terms[ind].split(' ')].values.tolist()[0][0].encode('utf-8', 'ignore'), end=' / ')
    print() #add whitespace
    print() #add whitespace
    
    print("TITLES /// ", end='')
    for title in frame.ix[i]['title'].values.tolist():
        print(' %s / ' % title, end='')
    print() #add whitespace
    print() #add whitespace
    
print()
print()

Top terms per cluster:

*** Cluster 0:

CENTROID /// The Treasure of the Sierra Madre
From Here to Eternity
WORDS ///  home /  father /  death /  town /  man /  finally /

TITLES ///  The Wizard of Oz /  Vertigo /  Forrest Gump /  The Sound of Music /  E.T. the Extra-Terrestrial /  The Philadelphia Story /  Ben-Hur /  Doctor Zhivago /  The Exorcist /  Mr. Smith Goes to Washington /  Out of Africa /  Good Will Hunting /  Terms of Endearment /  Close Encounters of the Third Kind /  The Graduate /  Wuthering Heights /  Yankee Doodle Dandy /

*** Cluster 1:

CENTROID /// Schindler's List

IndexError: list index out of range

### Ahora lo limpiamos un poco más: STOPWORDS, STEMMING & TOKENIZING

In [57]:
# STOPWORDS

# la primera vez hay que descargar la lista de 'stopwords': nltk.download('stopwords')
stopwords = nltk.corpus.stopwords.words('english')

In [58]:
#print (stopwords)

In [59]:
# STEMMING

def tokenize_and_stem(text):
    tokens = [word for sent in nltk.sent_tokenize(text) for word in nltk.word_tokenize(sent)]
    filtered_tokens = []
    for token in tokens:
        if re.search('[a-zA-Z]', token):
            filtered_tokens.append(token)
    stems = [stemmer.stem(t) for t in filtered_tokens]
    return stems

In [60]:
# e.g.:
tokenize_and_stem('cats are running')

[u'cat', u'are', u'run']

In [61]:
totalvocab_stemmed = []

for i in synopses:
    allwords_stemmed = tokenize_and_stem(i)
    totalvocab_stemmed.extend(allwords_stemmed)
    
vocab_frame = pd.DataFrame({'words': totalvocab_stemmed}, index=totalvocab_stemmed)

In [62]:
tfidf_vectorizer = TfidfVectorizer(max_df=0.8, max_features=200000,
                                 min_df=0.2, stop_words='english',
                                 use_idf=True, tokenizer=tokenize_and_stem, ngram_range=(1,3))

tfidf_matrix = tfidf_vectorizer.fit_transform(synopses) #fit the vectorizer to synopses

terms = tfidf_vectorizer.get_feature_names()

In [63]:
from sklearn.metrics.pairwise import cosine_similarity
dist = 1 - cosine_similarity(tfidf_matrix)

num_clusters = 5
km = KMeans(n_clusters=num_clusters)
km.fit(tfidf_matrix)
clusters = km.labels_.tolist()

from sklearn.externals import joblib

joblib.dump(km,  'doc_cluster.pkl')
km = joblib.load('doc_cluster.pkl')
clusters = km.labels_.tolist()

films = { 'title': titles, 'synopsis': synopses, 'cluster': clusters, 'genre': genres }
frame = pd.DataFrame(films, index = [clusters] , columns = ['title', 'cluster', 'genre'])

In [64]:
terms = tfidf_vectorizer.get_feature_names()
dist = 1 - cosine_similarity(tfidf_matrix)
num_clusters = 5
km = KMeans(n_clusters=num_clusters)
km.fit(tfidf_matrix)
clusters = km.labels_.tolist()

In [65]:
print("Top terms per cluster:")
print()
#sort cluster centers by proximity to centroid
order_centroids = km.cluster_centers_.argsort()[:, ::-1]     
        
for i in range(num_clusters):
    print("*** Cluster %d:" % i, end='\n\n')
    
    print("WORDS /// ", end='')
    
    for ind in order_centroids[i, :6]: #replace 6 with n words per cluster
        print(' %s' % vocab_frame.ix[terms[ind].split(' ')].values.tolist()[0][0].encode('utf-8', 'ignore'), end=' / ')
    print() #add whitespace
    print() #add whitespace
    
    print("TITLES /// ", end='')
    for title in frame.ix[i]['title'].values.tolist():
        print(' %s / ' % title, end='')
    print() #add whitespace
    print() #add whitespace
    
print()
print()

Top terms per cluster:

*** Cluster 0:

WORDS ///  armi /  kill /  soldier /  command /  order /  attack /

TITLES ///  Schindler's List /  Lawrence of Arabia /  Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb /  Apocalypse Now /  The Lord of the Rings: The Return of the King /  Patton /  Braveheart /  Platoon /  Dances with Wolves /  All Quiet on the Western Front /

*** Cluster 1:

WORDS ///  famili /  john /  new /  apart /  york /  father /

TITLES ///  The Shawshank Redemption /  Casablanca /  One Flew Over the Cuckoo's Nest /  The Wizard of Oz /  Psycho /  West Side Story /  Star Wars /  The Silence of the Lambs /  The Bridge on the River Kwai /  Gladiator /  From Here to Eternity /  Saving Private Ryan /  Raiders of the Lost Ark /  Jaws /  The Treasure of the Sierra Madre /  The Pianist /  The Deer Hunter /  The African Queen /  Stagecoach /  Mutiny on the Bounty /  The Maltese Falcon /  Rebel Without a Cause /  Rear Window /  The Third Man /  North by Northwest /

*** Cluster 2:

WORDS ///  home /  return /  love /  marri /  relationship /  children /

TITLES ///  Raging Bull /  Citizen Kane /  Sunset Blvd. /  Singin' in the Rain /  Gandhi /  Rocky /  Network /  Yankee Doodle Dandy /

*** Cluster 3:

WORDS ///  murder /  kill /  polic /  gun /  friend /  arriv /

TITLES ///  The Godfather /  Gone with the Wind /  Titanic /  The Godfather: Part II /  Forrest Gump /  The Sound of Music /  It's a Wonderful Life /  Some Like It Hot /  12 Angry Men /  Amadeus /  The Philadelphia Story /  To Kill a Mockingbird /  An American in Paris /  The Best Years of Our Lives /  My Fair Lady /  Ben-Hur /  Doctor Zhivago /  The Good, the Bad and the Ugly /  Goodfellas /  The Exorcist /  City Lights /  The King's Speech /  It Happened One Night /  A Place in the Sun /  Midnight Cowboy /  Mr. Smith Goes to Washington /  Annie Hall /  Out of Africa /  Terms of Endearment /  Tootsie /  Giant /  The Grapes of Wrath /  Close Encounters of the Third Kind /  The Graduate /  Wuthering Heights /

*** Cluster 4:

WORDS ///  film /  tell /  parti /  girl /  scene /  man /

TITLES ///  Vertigo /  On the Waterfront /  E.T. the Extra-Terrestrial /  2001: A Space Odyssey /  Chinatown /  Unforgiven /  A Streetcar Named Desire /  Butch Cassidy and the Sundance Kid /  The Apartment /  High Noon /  The French Connection /  Rain Man /  Good Will Hunting /  Fargo /  Shane /  The Green Mile /  Nashville /  American Graffiti /  Pulp Fiction /  A Clockwork Orange /  Taxi Driver /  Double Indemnity /